<p id="notice"><%= notice %></p>

<h1>Chambers</h1>

<table>
  <thead>
    <tr>
      <th>Chambername</th>
      <th>Address</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chambers.each do |chamber| %>
      <tr>
        <td><%= chamber.chamberName %></td>
        <td><%= chamber.address %></td>
        <td><%= chamber.title %></td>
        <td><%= link_to 'Show', chamber %></td>
        <td><%= link_to 'Edit', edit_chamber_path(chamber) %></td>
        <td><%= link_to 'Destroy', chamber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chamber', new_chamber_path %>
