
<%= link_to 'Show All', admin_rvall_path %>

<%= form_with(url: admin_rv_path, method: :get, local: true) do |form| %>
    Search <%= form.text_field :search %>
    <%= form.submit 'Search', name: nil, :class => "btn" %>
<% end %>

<hr>

<table id="rvdisplay-table" class="table table-sm table-striped">
<tr>
<td>Name</td>
<td>Address</td>
<td>Verified</td>
<td>Updated</td>
<td>Edit</td>
</tr>

<% @rv.each do |r| %>
    <tr>
        <td><%= r.parkname %></td>
        <td><%= r.address %></td>
        <td><%= r.verified %></td>
        <td><%= r.updated_at %></td>
        <td><%= link_to 'edit', edit_rvpark_path(r) %></td> 
    </tr>
<% end %>
